@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url(img/bg.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.64;
  position: absolute;
  top: 0%;
  background-color: black;
}
nav {
  max-width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}
nav img {
  color: red;
  width: 120px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.text {
  font-family: "Martel Sans", sans-serif;
  height: 82%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 15px;
  padding: 0 29px;
}
.text > :nth-child(1) {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}
.text > :nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.text > :nth-child(3) {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.separation {
  height: 4px;
  background-color: red;
}

.btn {
  padding: 5px 24px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: rgba(14, 14, 14, 0.264);
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.523);
}

.btn-red {
   width: 185px;
  height: 47px;
  font-size: 20px;
  padding: 7px 24px;
  background-color: red;
  color: white;
  border: none;
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.btn-red-sm {
  background-color: red;
  color: white;
  border: none;
}

.main input {
  font-size: 15px;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.523);
  padding: 10px 40px;
  background-color: rgba(0, 0, 0, 0.379);
  color: white;
}

section.trending {
  margin: 30px;
  width: 75vw;
  justify-self: center;
}

.shows {
  padding: 20px;
  width: 75vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
}
.shows img:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.card {
  position: relative;
}
.card span {
  position: absolute;
  bottom: 10px;
  font-weight: bolder;
  font-family: sans-serif;
  left: -25px;
  z-index: 10;
  font-size: 100px;
  -webkit-text-stroke: 2px white;
}

h1 {
  margin-bottom: 20px;
  color: rgb(236, 236, 236);
}

.shows img {
  height: auto;
  width: 100%;
  border-radius: 9px;
}

section.reasons{
  margin-top: 50px;
  margin-bottom: 70px;
  width: 75vw;
  justify-self: center;
}

.reasons h2{
  color: white;
  margin-bottom: 20px;
}

.reasons span{
color: white;
font-weight: 400;
font-size: 15px;
}

.more{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:15px;
  justify-content: space-between;
}

.more .reason{
  height: 210px;
  background-color: rgb(8, 84, 84);
  border-radius: 15px;
  padding: 20px;
}

.reason span{
    word-wrap: break-word;
    line-height: 1.3;
}

section.asked{
  margin-top: 50px;
  width: 76vw;
  justify-self: center;
}
.asked h1{
  margin-bottom: 20px;
}

  .faq{
display: grid;
grid-template-rows: repeat(6,1fr);
gap: 10px;
justify-content: space-between;
 }

 .questions{
  width: 71vw;
  height: 74px;
  color: white;
  background-color: rgb(45,45,45);
 display: flex;
 justify-content: space-between; 
 align-items: center;
 padding: 0px 1.5vw;
}

.questions:hover{
  background-color: rgb(70,70,70);
  cursor: pointer;
}

section.membership{
  margin-top: 70px;
  color: white;
  }

.membership .btn-red {
  font-size: 20px;
  padding: 7px 24px;
  background-color: red;
  color: white;
}

section.membership .text span {
 font-weight: 400;
  font-size: 17px;
  margin-bottom: 10px;
  text-align: center;
}

.membership input {
  font-size: 15px;
  height: 20px;
  width: 25vw;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.523);
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.379);
  color: white;
}

footer{
  width: 75vw;
  margin-top: 50px;
  justify-self: center;
  color: rgb(179, 179, 179);
}

footer a{
    color: rgb(179, 179, 179);
}
.links{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  gap: 20px;
}

.links a{
  font-size: 14px;
  font-weight: 500;
}

footer button{
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 5px 24px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: rgba(14, 14, 14, 0.264);
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.523);
}

footer button:active{
  border: 2px solid white;
}

footer button span{
  font-size: 15px;
  padding: 0px 10px;
}

.learnmore{
  font-size: 13px;
  margin-top: 40px;
  margin-bottom: 140px;
}
